/*COLOR SCHEME*/


/*
red: #DD1C1A
beige: #FFF1D0
yellow: #F0C808
blue: 07A0C3
navy: #086788
*/


/* COLORS & FONTS*/

body{
  background-color: white;
}


#welcome-text{
  background-color: #F0C808;
  color: white;
  text-align: center;
}

#welcome-text #welcome-text-wrapper h1{
  font-family: 'Playfair Display', serif;
}


#welcome-text #welcome-text-wrapper h4{
  font-family: 'Quicksand', sans-serif;
}



/* X-SMALL */

@media only screen and (min-width: 0px) {

  #welcome-text #welcome-text-wrapper h1{
    font-size: 275%;
  }
  #welcome-img{
    display: none;
  }
}


/* SMALL */

@media only screen and (min-width: 576px) {
  #welcome-img{
    display: none;
  }
}


/* MEDIUM */

@media only screen and (min-width: 768px) {

  #welcome-text #welcome-text-wrapper h1{
    font-size: 300%;
  }

  #welcome-img{
    display: none
  }
}

/* LARGE */

@media only screen and (min-width: 992px) {

  #welcome-container{
    position: relative;
    width: 100%;
    height: 100vh;
  }

  #welcome-row{
    position: absolute;

    width: 70%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
  }

  #welcome-text{
    position: relative;
  }

  #welcome-text-wrapper{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

    #welcome-text #welcome-text-wrapper h1{
      font-size: 350%;
    }

    #welcome-text #welcome-text-wrapper h4{
      font-size: 175%;
    }

  #welcome-img{
    border-radius: 0;
    display: inline;
    /*background-color: black;*/
  }

  #welcome-img img{
    max-height: 30%;
  }
}
