
/*----------------------------------------------------------------------------*/
/* COLOR SCHEME */
/*----------------------------------------------------------------------------*/


/*
  black :  #0A0908;
  dark  : #22333B;
  white : #F2F4F3;
  beige : #EAD2AC;
  rose  : #DF928E;
  purple: #713558;
*/


/*----------------------------------------------------------------------------*/
/*GENERAL*/
/*----------------------------------------------------------------------------*/


/* BACKGROUND */

body {
  background-color: #0A0908;
  color: #F2F4F3;
}

h1{
  font-size: 25vw;
}

h1 mark{
  background-color: #0A0908;
  color: #713558;
  margin-left: -3vw;
  margin-right: -3vw;
}


/*----------------------------------------------------------------------------*/
/* iPHONE */
/* Custom, iPhone Retina */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) {
}


/*----------------------------------------------------------------------------*/
/* X-SMALL */
/* Extra Small Devices, Phones */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) {
}


/*----------------------------------------------------------------------------*/
/* SMALL */
/* Small Devices, Tablets */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
}


/*----------------------------------------------------------------------------*/
/* MEDIUM */
/* Medium Devices, Desktops */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
}


/*----------------------------------------------------------------------------*/
/* LARGE */
/* Large Devices, Wide Screens */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
}
