
/*----------------------------------------------------------------------------*/
/* COLOR SCHEME */
/*----------------------------------------------------------------------------*/


/*
  black : #0A0908;
  white : #F2F4F3;
  aqua:   #5DFDCB;
  yellow: #FFE74C;
  pink:   #D90368;
  green:  #7FB800;
*/


/*----------------------------------------------------------------------------*/
/*GENERAL*/
/*----------------------------------------------------------------------------*/


/* BACKGROUND */

body {
  background-color: #0A0908;
  color: #F2F4F3;
}

h1{
  font-size: 20vw;
  color: #D90368;
  font-family:'Oswald', sans-serif;
}

h1 mark{
  background-color: rgba(255, 255, 255, 0);
  color: #5DFDCB;
  margin-left: -3vw;
  margin-right: -3vw;
}

p{
  font-family: 'Oswald', sans-serif;
}


/*----------------------------------------------------------------------------*/
/* iPHONE */
/* Custom, iPhone Retina */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) {
  p{
      font-size: 5vw;
  }
}


/*----------------------------------------------------------------------------*/
/* X-SMALL */
/* Extra Small Devices, Phones */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) {
}


/*----------------------------------------------------------------------------*/
/* SMALL */
/* Small Devices, Tablets */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
}


/*----------------------------------------------------------------------------*/
/* MEDIUM */
/* Medium Devices, Desktops */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
  p{
      font-size: 3vw;
  }
}


/*----------------------------------------------------------------------------*/
/* LARGE */
/* Large Devices, Wide Screens */
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 1200px) {
}
